@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="welcome">Welcome to Match and learn</h1>
    <p>Final year project by Muhd.Abdul Hakim bin Abdul Hamid, 2125775</a>.</p>
</div>
